body {
    background-color: #f4f4f4;
}
h1 {
    font-size: 250%;
    color: #C0B283;
    text-align: center;
    
}
h2 {
  font-size: 200%;
    color: #C0B283;
    text-align: center;  
}
h3{
    font-size: 100%;
    color:#DCD0C0;
}
p{
    font-size: 100%
    color: #373737;
    text-align: center;
}
a{
    color: #DCD0C0
}