body {
    background-color: lightslategray;
}
* {
 font-family: avenir, Helvetica, Arial ;
}
div.container {
    width: 100%;
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    text-align: center;
    padding-bottom: 75;
}
header, footer {
    padding: 1em;
    color: #C0B283;
    background-color: #f4f4f4;
    clear: left;
    text-align: center;
    font-size: 60%;
}
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
h1{
    color: #373737;
    font-size: 550%;
}
h2{
    color: #373737;
    font-size: 150%;
}
p{
    color: #373737;
}
a{
    font-size: 200%;
    color: #373737;
}
a:hover{
    color: #DCD0C0;
}




/*Dropdown Button*/
.dropbtn {
    background-color:inherit;
    color: #373737;
    padding: 16px;
    font-size: 210%;
    border: none;
    cursor: pointer;
}

/*Container needed to position the dropdown content*/
.dropdown {
    position: static;
    display:inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: fixed;
    background-color: aliceblue;
    min-width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
    left: 180;
    right: auto;
    bottom: 100px
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #373737;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 200%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #DCD0C0}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: inline-block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #DCD0C0;
}

.mySlides{
    display: none;
}