.light {
  height: 120px;
  width : 120px;
  border-radius: 50%;
  opacity : 0.3; /* makes colors less bright by default */
  margin: 0 auto;
  display: inline-block;
}

.stop {background-color: red;}
.slow {background-color: yellow;}
.go {background-color: green;}
.on {opacity: 1;}

body {
  background-color : black;
  text-align: center;
  color :white;
  font-family: Helvetica;
  overflow: hidden;
}

/* Object Styling */
    * {
    margin: 0;
    padding: 0;
}
html {
    margin: 30px 0;
    overflow-x: hidden;
}
div {
    background: red;
    height: 80px;
    width: 80px;
    display: block;
    margin-bottom: 30px;
    position:absolute;
}
.blue {
    background: blue;
    top: 500px;
}
button {
    padding: 10px 30px;
    width: 100px;
    margin: auto;
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
}
