.light {
  height: 120px;
  width : 120px;
  border-radius: 50%;
  opacity : 0.3; /* makes colors less bright by default */
  margin: 0 auto;
  display: inline-block;
}

.stop {background-color: red;}
.slow {background-color: yellow;}
.go {background-color: green;}
.on {opacity: 1;}

body {
  background-color : black;
  text-align: center;
  color :white;
  font-family: Helvetica;
  overflow: hidden;
}

/* Object 1 Styling */
#myContainer {
  width: 1350px;
  height: 200px;
  position: relative;
  background: blue;
}
#myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
}

/* Object 2 Styling */
#myContainer2 {
  width: 1350px;
  height: 200px;
  position: relative;
  background: blue;
}
#myAnimation2 {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: green;
}
